lettreCadre={{ lower .lettreCadre}}
codeCadreSDDC={{.codeCadreSDDC}}
targetDir={{.targetDir}}
nomEnvironnement="{{.nomProduit}}_cadre{{upper .lettreCadre}}_{{.codeCadre}}"
nomEnvironnementRef="{{.nomEnvironnement}}"